---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Microsoft
AlwaysBreakTemplateDeclarations: Yes

PointerAlignment: Left
ReferenceAlignment: Left

ColumnLimit: 80
